OLLAMA_EMBEDDING_MODEL=nomic-embed-text:latest
OLLAMA_BASE_URL=http://localhost:11434

USER_AGENT=documind-backend/0.1.0

APP_ENV=development

CHROMA_HOST=127.0.0.1
CHROMA_PORT=8001
CHROMA_USE_HTTP=true

# cors_origins
CORS_ORIGINS=*